h1 {
    text-align: center;
}
.italic, h5 {
font-style: italic;
font-variant: normal;
text-align: center;
font-size: 1.4em;
margin:0;
line-height: 1.4em;
}
h5 {
    position: relative;
    top: 20px;
}
.contact {
    margin: 5px;
    display: flex;
    justify-content: center;
    line-height: 1.2em;
}
header, main, footer {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif Verdana, sans-serif, sans-serif;
    position: relative;
    margin: 3%;
    
}
h1, h2, h3 {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-variant: small-caps;
    background-color: rgba(255, 228, 196, 0.325);
}
h1 {
    background:none;
    margin-bottom: 5px;
}
main {
    border-style: solid;
    border: 5px;
}
#about {
    margin: 3%;
    font-size: 1.4em;
    text-align: left;
    width: 80%;
    line-height: 1.4;
    margin-bottom: 3em;
}
#hi {
    font-style: oblique;
}
#future {
    font-style: oblique;
    font-size: 0.7em;
}
#head-about {
    font-variant: small-caps;
}
.cv-item {
    text-align: left;
    margin: 3%;
    font-size: 1.4em;
    text-align: left;
    width: 80%;
    margin-bottom: 3em;
}
.code {
    font-family: Consolas, 'Courier New', Courier, monospace;
    background-color: #d6d6d6;
    border: 2px solid rgb(99,99,99);
    margin-bottom: 1em;
}
